[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "public"]
	path = public
	url = git@github.com:chris-vest/chris-vest.github.io.git
	branch = master
[submodule "quickstart/quickstart/themes/ananke"]
	path = quickstart/quickstart/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
